@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');
*{
    outline: none !important;
}
.main{
background-color: #F5F3F0;

}

.navbar {
    height: auto;
    width: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/**********  logo  ********/
.logo {
    height: 7vh;

    text-align: center;
}
svg{

    height: inherit;
    width: auto;

}
@media screen and (orientation: portrait){
    .logo {
        height: 5vh;
    }
}

/**********  menu  ********/
#about, #how{
    color: black !important;

    transition: 0.15s ease-in-out;
    position: relative; /* makes :after appear under nav-link instead of whole nav */
    margin-right: 1rem;
}
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: 0.15s ease-in-out;
}
.nav-link:hover:after {
    width: 100%;
}

#user:hover:after {
    width:0;
}
#user:hover {
    color:coral;
}
#button-register:hover{
    transform: scale(100%);
    background-color: coral;
    color:black;
}

#button-register:active{
    background-color: coral;
    color: black;

}
#button-register:active{
    color:black;
}
#button-register:hover:after{
    width:0%;
}
#button-register:active:after{
    width:0%;
}


.navbar-light .navbar-toggler {
    color: black;
    border-color: black;
}

.navbar-toggler:focus{
    box-shadow: none !important;
    color: coral;
}

.navbar-toggler-icon i{
    font-size: 1.5em;
    transition: ease-in-out 0.3s;
}

.button{
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.15s ease-in-out;
    font-weight: 800;

}

.button:hover{
    transform: scale(110%);
}

.button:active{
    transform: scale(110%);
    background-color: whitesmoke;
    color: black;
    border: solid 1px black;

}

#button-register{
    color:white;
    font-weight: 400;
}
#button-register:active{
    color:black;
}

#button-register:hover:after{
    width:0%;
}
#button-register:active:after{
    width:0%;
}

/******************************/
.box{
    margin: 1rem;
    border-radius: 30px;
}
.row{
    width:100%;
    margin:0 !important;
}
.container-one{
    padding: 1rem;
    border-top-left-radius: 30px;
    background-color: #F5F3F0;
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.container-two{
    padding: 1rem;
    border-top-right-radius: 30px;
    background-color: #F5F3F0;
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: center;
}
.title-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding:2rem;
    background-color: coral;
    margin-bottom: 1rem ;
    border-radius:30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.name h1{
    font-weight: 800;
    margin:0;
    color: white;
}

.stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr ;
    grid-gap: 2rem;
    height: 80vh;

}

.stats div{
    background-color: white;
    border-radius: 30px;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
}

.calendar-wrapper{
    padding:2rem;
    border-radius:30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;

    width: 70%;

}



.title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding:1rem;

}
/***********************************************/
.current-date{
    font-size: 1.45rem;
    font-weight: 800;
}

.calendar ul{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    text-align: center;
}
.today{
   border: 2px solid black;
}
.done{
    background-color: coral;
}
.icons button{
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 30px;

}
#previous, #next{
    outline: none;
}

.icons button:hover{

    background-color: lightgray;
}
.icons button:active{

    background-color: lightgray;

}

.calendar li{
    width: calc(100%/7 - 4px);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:30%;
    margin:2px;
}
.days-calendar li:hover{
    margin:2px;
    background-color: lightgrey;
}

.reset-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}
.reset{
    background-color: lightgrey;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0.3rem;
    border-radius: 10px;
    font-weight: 600;
}
.days{
    display:flex;
    color: white;
}
.days div{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.days div p{
    margin: 0 1rem;
    font-size: 0.75rem;
}

.days div i{
    margin: 0 1rem;
}

/* icons for habits*/
.icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.15s ease-in-out;
}
.chart svg{
    width:50px;
    height:50px;
    display: block;
    margin: 10px auto;
}
.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart .circle {
    stroke: #ff9f00;
}


.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}
.icon{
    display: inline-block;
    width:  calc(40px + 8 * ((100vw - 320px) / 960));
    min-width: 30px;
    height: calc(40px + 8 * ((100vw - 320px) / 960));
    min-height:30px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.15s ease-in-out;
    align-self: center;
}
.icon-1{
    background-image: url('icons/1.svg');
}
.icon-2{
    background-image: url('icons/2.svg');
}
.icon-3{
    background-image: url('icons/3.svg');
}
.icon-4{
    background-image: url('icons/4.svg');
}
.icon-5{
    background-image: url('icons/5.svg');
}
.icon-6{
    background-image: url('icons/6.svg');
}
.icon-7{
    background-image: url('icons/7.svg');
}
.icon-8{
    background-image: url('icons/8.svg');
}
.icon-9{
    background-image: url('icons/9.svg');
}
.icon-10{
    background-image: url('icons/10.svg');
}
.icon-11{
    background-image: url('icons/11.svg');
}
.icon-12{
    background-image: url('icons/12.svg');
}
.icon-13{
    background-image: url('icons/13.svg');
}
.icon-14{
    background-image: url('icons/14.svg');
}

.icon-15{
    background-image: url('icons/15.svg');
}
.icon-16{
    background-image: url('icons/16.svg');
}
.icon-17{
    background-image: url('icons/17.svg');
}
.icon-18{
    background-image: url('icons/18.svg');
}
.icon-19{
    background-image: url('icons/19.svg');
}
.icon-20{
    background-image: url('icons/20.svg');
}
.icon-21{
    background-image: url('icons/21.svg');
}
.icon-22{
    background-image: url('icons/22.svg');
}
.icon-23{
    background-image: url('icons/23.svg');
}

.icon-24{
    background-image: url('icons/24.svg');
}
.icon-25{
    background-image: url('icons/25.svg');
}
.icon-26{
    background-image: url('icons/26.svg');
}

.icon-27{
    background-image: url('icons/27.svg');
}
