#main{
    overflow:scroll;
}

.icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.15s ease-in-out;
}
.habit_image_0{
    background-image: url('icons/clock-dynamic-color.png');
}
.habit_image_1{
    background-image: url('icons/gym-dynamic-color.png');
}
.habit_image_2{
    background-image: url('icons/moon-dynamic-color.png');
}

.radio{
    cursor: grab;
}

.icon-1{
    background-image: url('icons/clock-dynamic-color.png');
}
.icon-2{
    background-image: url('icons/gym-dynamic-color.png');
}
.icon-3{
    background-image: url('icons/moon-dynamic-color.png');
}

.days{
    display:flex;
}