.icons-container{
    padding:1rem;
    display: grid;
    grid-template-rows: 30px 30px 30px ;
    grid-template-columns: 30px 30px 30px ;
    grid-gap: 1rem;
}

.icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.15s ease-in-out;
}
.icon:hover{
    transform:scale(1.3);
}
.habit_image_0{
    background-image: url('icons/clock-dynamic-color.png');
}
.habit_image_1{
    background-image: url('icons/gym-dynamic-color.png');
}
.habit_image_2{
    background-image: url('icons/moon-dynamic-color.png');
}

.radio{
    cursor: grab;
}

