@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@800&display=swap');


*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
main{
    width:100%;
    height:100vh;
    overflow:hidden;
    background-color: white;
    padding-bottom:1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.menu{
    height: 10%;
    width:100%;
}
.box{
    height:90%;
    width:100%;
    background-color:rgb(224, 233, 255) ;
    border-radius: 3.3rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position:relative;
}
.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero{
    position:absolute;
    height:100%;
    width: 60%;
    top:0;
    left:0;
}
.wrapper{
    position: absolute;
    height:100%;
    width: 40%;
    top:0;
    right:0;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 3rem;
}

.form-wrapper {
    align-self: center;
    position:absolute;
    height:100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    transition: 1s ease-in-out;
    font-family: 'Montserrat', light;
}

.h3{
    font-family: 'Poppins';
    font-size: 2.1rem;
    font-weight: 800;

}

.wrapper.active .form-wrapper.sign-in {
    transform: scale(0) translate(-300px, 400px);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    transform: scale(0) translate(200px, -400px);
}

.wrapper.active .form-wrapper.sign-up {
    transform: scale(1) translate(0, 0);
}

.signUp-link a{
    text-align: center;
    margin: 15px 0;
    color: black;
    font-size: .75rem;
    font-weight: 600;
}



.signUp-link p a {
    text-decoration: none;
    font-weight: 600;
}

.signUp-link p a:hover {
    text-decoration: underline;
}
.small-text{
    color: #bababa;
    font-weight: 400;
    font-size: .75rem;
}
.agree-terms{
   display: flex;
    justify-content: space-between;

}
.agree-terms p{
    left:0;
}

.input-wrap{
    width: 100%;
    position: relative;
    height:37px;
    margin-bottom:2rem;
padding:0;
font-size:.95rem;}

label{
    position: absolute;
    font-size:.95rem;
    color: #bbbbbb;
    pointer-events: none;

}
input{
    position:absolute;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom:1px solid #bbb;


}
