
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

/**********  layout  ********/

*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.main{
    background-image: url("login_bg.svg");
    background-size: cover;
    width:100%;
    height:auto;
    overflow:hidden;
    background-color: #F5F3F0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    accent-color: black;
    font-family: 'Montserrat', sans-serif;
}
.box{
    height: 90vh;
    width:100%;
    position:relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 768px){
    .box {
        min-height: 900px;
    }
    .hero{

        padding-top: 0 !important;
    }
    .header-svg{
      display: none;
    }

    #about:hover:after {
        width: 0%;
    }
    #about:hover{
        color:coral !important;
    }
    #about:active:after {
        width: 0%;
    }

    #how:hover:after {
        width: 0%;
    }

    #how:active:after {
        width: 0%;
    }
    #how:hover{
        color:coral !important;
    }
    .inner-box{
        width:100% !important
    }
}

@media only screen and (max-width: 991.98px) and (orientation : landscape)  {
    .header-svg {
        left:60% !important;
        width:25vw !important;
    }
}
.hero{
    position:absolute;
    height:100%;
    width: 80%;
    top:0;
    left:0;
    padding-top: 3rem;
    min-height: 200px;
}
.hero h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.hero h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.first-col{
    position: relative;
}

.second-col{
    position: relative;
}
.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.title{
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    display: flex;
    flex-direction:column ;
    align-self: center;
    position:absolute;
    width: 100%;
}
.header-svg{
    width: 30vw;
    height:auto;
    position:absolute;
    bottom: 0;
    left:50%;
}
.header-svg svg{
    width: inherit;
    height:inherit;
}

.wrapper{
    position: absolute;
    height:100%;
    width: 100%;
    top:0;
    right:0;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3rem;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .wrapper {
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header-svg{
        left:40% !important;
        width: 40vw !important;
    }
    .hero{
        display:flex;
        align-items: center;
        padding-top: 0 !important;
    }
    .main{
        background-position: center;
    }
}

.form-wrapper {
    align-self: center;
    position:absolute;
    height:100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    transition: 1s ease-in-out;
    font-family: 'Montserrat', light, sans-serif;
}

.h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;

}

/**********  form animation  ********/

.wrapper.active .form-wrapper.sign-in {
    transform: scale(0) translate(-300px, 400px);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    transform: scale(0) translate(200px, -400px);
}

.wrapper.active .form-wrapper.sign-up {
    transform: scale(1) translate(0, 0);
}
/**********  form styling  ********/
.signUp-link a{
    text-align: center;
    margin: 15px 0;
    color: black;
    font-size: .75rem;
    font-weight: 600;
}

.signUp-link p a {
    text-decoration: none;
    font-weight: 600;
}

.signUp-link p a:hover {
    text-decoration: underline;
    color:black;
}
.small-text{
    color: #bababa;
    font-weight: 400;
    font-size: .75rem;
}
.agree-terms{
    display: flex;
    justify-content: space-between;

}
.agree-terms p{
    left:0;
}
#agree{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#agree p{
    margin-left: 20px;
    align-self: end;
}

#password-r, #password-s{
    margin-bottom: 0.5rem;
}

.input-wrap{
    width: 100%;
    position: relative;
    height:37px;
    margin-bottom:2rem;
    padding:0;
    font-size:.95rem;
}

.forgot{
    display: inline-block;
    margin-bottom:2rem;
}
.forgot:hover{
 color:coral;
}

.link{
    transition: 0.15s ease-in-out;
}
link:hover{
    color: black;
}

label{
    position: absolute;
    font-size:.95rem;
    color: #bbbbbb;
    pointer-events: none;
    transition: 0.15s ease-in-out;

}
input{
    position:absolute;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom:1px solid #bbb;
    transition: 0.4s ease-in-out;
}

input.active{
    border-bottom: solid 1px black;
}
input.active + label{
    font-size: 0.75rem;
    top:-10px;
}
.errors{
    list-style: none;
    padding-bittom:0.75rem;
    color: orangered;
    font-weight: 800;
    font-size: 0.7rem;
}

.errors ul li{
    list-style: none;
}

/**********  nav bar  ********/
.navbar {
    height: auto;
    width: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/**********  logo  ********/
.logo {
    height: 7vh;

    text-align: center;
}
svg{

    height: inherit;
    width: auto;

}
@media screen and (orientation: portrait){
    .logo {
        height: 5vh;
    }
}

/**********  menu  ********/
#about, #how{
    color: black !important;

    transition: 0.15s ease-in-out;
    position: relative; /* makes :after appear under nav-link instead of whole nav */
    margin-right: 1rem;
}
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: 0.15s ease-in-out;
}
.nav-link:hover:after {
    width: 100%;
}

#user:hover:after {
    width:0;
}
#user:hover {
 color:coral;
}
#button-register:hover{
    transform: scale(100%);
    background-color: coral;
    color:black;
}

#button-register:active{
    background-color: coral;
    color: black;

}
#button-register:active{
    color:black;
}
#button-register:hover:after{
    width:0%;
}
#button-register:active:after{
    width:0%;
}


.navbar-light .navbar-toggler {
    color: black;
    border-color: black;
}

.navbar-toggler:focus{
    box-shadow: none !important;
    color: coral;
}

.navbar-toggler-icon i{
    font-size: 1.5em;
    transition: ease-in-out 0.3s;
}

.button{
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.15s ease-in-out;
    font-weight: 800;

}

.button:hover{
    transform: scale(110%);
}

.button:active{
    transform: scale(110%);
    background-color: whitesmoke;
    color: black;
    border: solid 1px black;

}

#button-register{
    color:white;
    font-weight: 400;
}
#button-register:active{
    color:black;
}

#button-register:hover:after{
    width:0%;
}
#button-register:active:after{
    width:0%;
}

