<h2>Create Post</h2>

<form id="form-create-post" class="create-post-form row" action="{{ path('post_create')}}" enctype="multipart/form-data" method="post">

    <div class="col-lg-8">
        <div class="input-wrapper">
            <label for="post[title]">Title</label>
            {{ form_widget(form.title) }}
        </div>
           <textarea rows="5" cols = "50" id="post_content" name="post[content]" requird="required">

           </textarea>


        {{ form_row(form._token) }}
    </div>
    <div class="col-lg-4">
        <div class="preview-wrapper-create">
            <img id="preview-create" class="preview" src="">
        </div>
        <div  class="d-none"><input id="post_cover" type="file" name="post[cover]"></div>
        <div class="upload-wrapper">
            <div id="dropArea" class="">
                <div id="dropArea-message">Select image from the device<br> or drop it here</div>
                <label class="upload-button required" for="post_cover"><span>Upload</span><i class="fa-solid fa-cloud-arrow-up"></i></label>
            </div>
        </div>
        <button class="button-save" type="submit">save</button>
    </div>
</form>