.main{
    width:100vw;
    height:100vh;
    background-image: url("reset-bg.jpg");
    background-size: cover;
}

#row-content{
    padding-top: 4rem;
    width:100%;
    height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

a:hover{
    color:white;
}
button:focus {
    outline: none;
}
.button-reset{
    border:none;
    background-color: #535AFF;
    border-radius: 15px;

}
.button-reset:hover {
    background-color: #535AFF;
    transform: scale(1.1);
}
.header{
    width:70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.header h1{
    font-weight: 600;
}
.header small{
    width: 25em;
    display:block;
}
.form{
    width:70%;
}
form{
    display:flex;
    flex-direction: column;
}

label{
    font-weight: 600;
}
input{
    padding: .5rem;
    width:60%;
    border-radius:5px;
    border: 1px solid #adacac;
}
input:focus{
    outline-color: #bdc4fc;
}
.form button{
    width:35%;
    margin-top:1.5rem;
}

form div:nth-child(1){
    display: flex;
    flex-direction: column;
}

form div:nth-child(2){
    margin-top:1rem;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:  992px){
    .main{
        background-position: 50%;
    }
    input{
        width:70%;
    }
    .form button{
        width:45%;
    }

}

@media screen and (max-width:  1024px) and (orientation:portrait){
    .main{
        background-position: 70%;
    }
}

@media screen and (max-width:  576px){
    .header{
        padding-top:2rem;
        width:90%
    }
    .header small {
        width: 15em;
    }
    .form{
        width:90%
    }
    input{
        width:100%;
    }
    .form button{
        width:90%;
    }
}