@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

*{
    outline: none !important;
}
html {
    font-size: calc(11px + 0.390625vw);
}
.main {
    width: 100vw;
    height: 100vh;
    background-color: white;
    min-font-size: 16px!important;
    font-family: Poppins;
}
.row > *{
    margin:0 !important;
}
.row{
    margin:0 !important;
}
.main-row{
    height: 100vh;
}
/*side menu*/

.col-first{
    height:100%;
    padding:0;
}
.side-menu-wrapper{
    height:100%;
    width:100%;
    background-size: cover;
    background-color: #222577;
}

.logo{
    height:4rem;
    width:100%;
    padding-top:1rem;
    color:white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height:100%;
}
.logo1{
    display:block;
}
.logo2{
    display:none;
}
.menu{
    height:calc(100% - 10rem);
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
    padding-top:4rem;
}
.logout{
    height:4rem;
    aspect-ratio: 1/1;
    display:flex;
    align-items: start;
    justify-content: start;
    padding:1rem;
}
.logout a{
    color: white;
    border-radius: 10px;
    width:calc(100% - 2rem);
    display:flex;
    align-items: center;
    justify-content: start;
    padding:1rem;
    border:none;
    background:none;
    font-size: 1.3rem;
    margin:.5rem;
    gap:1rem;
    text-decoration: none;
}

.logout a i{
    display: flex;
    align-items: center;
}

.logout a span{

    font-size: 1rem;
}
.logout a:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius:15px;
    background-color: #222577;
    color:white;
}

.menu-option-wrapper{
    width:calc(100% - 2rem);
    display:flex;
    align-items: center;
    justify-content: start;
    padding:1rem;
    border:none;
    background:none;
    color: white;
    font-size: 1rem;
    margin:.5rem;
    gap:1rem;
}
.menu-option-wrapper i{
    display:flex;
    align-items: center;
    -webkit-text-stroke: 1px;
}

.menu-option-wrapper span{
    text-align: start;
}
.menu-option-wrapper:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius:15px;
    background-color: #535AFF;
    color:white;
}
.active{
    background-color: #F48E6F;;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color:white;
}

/*content*/

.row-content{
    padding: 0 3rem;
    height:100vh;
    width:100%;
    overflow: scroll;
    padding-top: 2rem;
}
.page-container{
    height:100%;
    width:100%;
}
.page-container h2{
    font-weight: 600;
    margin-bottom:2rem;
}

/*pagination*/
/*pagination*/

@media screen and (max-width: 768px){
    .row-content{
        padding: 2rem 0 0 0;
    }
    .menu-option-wrapper{
        justify-content: center;
        font-size: 1.5rem;
    }
    .logout a{
        font-size: 1.5rem;
        justify-content: center;
    }
    .logo1{
        display:none;
    }
    .logo2{
        display:block;
    }
}