@import url('https://fonts.cdnfonts.com/css/lilita-one');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

*{
    outline: none !important;
}
html {
    font-size: calc(11px + 0.390625vw);
}
.main {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    min-font-size: 16px!important;
    font-family: Poppins
}
.row > *{
    padding:0 !important;
    margin:0 !important;
}
.row{
    margin:0 !important;
}
.main-row{
    height: 100vh;
}

/************* SIDE MENU first column *************/
.col-first{
    height:100%;
    background-color:#F5F3F0;
    padding:0;
}

.side-menu-wrapper{
    height:100%;
    width:100%;
    background-color: white;
}
.logo{
    height: 4rem;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: start;
    padding-top:1rem;
}

.logo img{
    width:3rem;
    height:3rem;
}
.menu{
    height:calc(100% - 8rem);
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color:black;
    padding-top:4rem;
}
.logout{
    height:4rem;
    aspect-ratio: 1/1;
    display:flex;
    align-items: center;
    justify-content: center;
}
.logout a{
    padding: .7rem;
    color: #535AFF;
    border-radius: 10px;
}

.menu-option-wrapper{
    display:flex;
    gap:1rem;
    align-items: center;
    justify-content: start;
    padding:1rem;
   border:none;
    background:none;
    color: #535AFF;
}
.active{
   color: #191e5b;
}
.logout a:hover {
    color:#FD8471
}
.menu-option-wrapper:hover{
    color:#FD8471
}

/************* second column *************/
.col-second{
    height:100%;
    background-color: whitesmoke;
}
/************* NAV *************/
.row-nav{
    min-height: 10vh;
}
.nav-col-2{
    display:flex;
    justify-content: start;
    align-items: center;
    background-color: whitesmoke;
}
.user-pic{
    margin-right: 0.3rem;
}
.user-pic img{
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.username{
    display:flex;
    flex-direction: column;
    width:auto;
    margin-right: 1rem;
    font-weight: 600;
    color: black;
}
.username .p1 {
    margin:0;
    font-size: calc(9px + 0.390625vw);
}

.username .p2{
    margin:0;
    color: #666666;
    font-weight: 400;
    font-size: calc(6px + 0.390625vw);
}
#dropdownMenuButton{
    border:none;
    background: none;
    color:black;
}
.dropdown-menu{
    padding:0 !important;
    color: black !important;
}
.btn-secondary:focus{
    box-shadow: none;
}

.image-button {
    display: flex !important;
    align-items:center;
    gap:.3rem;
}
.image-button p{
    padding:0;
    margin:0;
}
.dropdown-divider{
    margin:0 !important;
}

/************* CONTENT  *************/

.row-content{
    height: 90vh;
    overflow: scroll;

}

/************* CONTENT first column *************/
.content-col-first{
    height: 100%;
    transition: 3s ease-in-out;
    background-color: #F5F3F0;
}

.banner-row{
    height:30%;
    width:100%;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: end;
}
.banner{
    width: 100%;
    height: 100%;
    border-radius:15px;
    background-color: #565BCC;;
    background-size: cover;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
    margin-left: 0px;
    position:relative;
}
.banner h5{
    font-weight:800;
}


.banner-text{
    width: 60%;
    height: 100%;
    display:flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
}
.button-create{
    background-color:  #0d1033;
    width:30%;
    min-width: 100px;
    border: none;
    border-radius: 30px;
    color:  white;
    padding: .5rem 0rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.15s ease-in-out;
    font-weight: 600;
}
.button-create:hover{
    transform: scale(110%);
    background-color: #0d1033;
    color:white;
}
.button-create:active{
    transform: scale(110%);
    background-color: black;
    color: white;
}
.banner-img{
    position: absolute;
    right: 10%;
    max-height: 100%;
}

.habits-row{
    height:70%;
    width:100%
}

.habits-stats-wrapper{
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 1rem !important;
}
.habits-stats{
    width: 100%;
    height: 100%;
    border-radius:15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
    padding: 1rem;

}
.habits-stats p{
    font-weight: 600;
    height:25%;

}

#percentage{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    height:45%;
    font-size: calc(30px + 0.390625vw);
}
#number{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    height:75%;
    font-size: calc(40px + 0.390625vw);
}
.progress-wrapper{
    height:30%;
}

/************* CONTENT second column *************/
.content-col-second{
    background-color: #F5F3F0;
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 1rem 1rem !important;
}
.habits-today-wrapper{
    height:100%;
    width:calc(100% - 1rem);
    padding: 1rem 1rem 1rem 1rem !important;
    margin-right: 1rem;

}
.today-habits{
    width: 100%;
    height: 100%;
    border-radius:15px;
    padding:1.2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.today-habits h3{
    font-weight: 800;
    color:black;
}
.habits{
    height: 90%;
    width: 100%;
    overflow:scroll;
    padding:1rem 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.habit{
    width:94%;
    display: flex;
    align-items: center;
    margin-bottom:15px ;
    padding: 1rem;
}
.icon{
    width: 10%;
    aspect-ratio: 1/1;
    min-width:40px ;
    min-height:40px ;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.15s ease-in-out;
    align-self: center;
    margin-right:1rem;
    border-radius:10px;
}
.habit-details-wrapper{
    display: flex;
    flex-direction: column;
    width:70%;
    align-items: start;
    justify-content: center;
}
.habit-name{
    transition: 0.7s ease-in-out;
    font-size: calc(11px + 0.390625vw);
    font-weight: 400;
}
.streak{
    display:flex;
    color: #383c5e;;
}
.streak svg{
    width: calc(9px + 0.390625vw);
    height:auto;
}
.streak-container{
    display: flex;
    height: 100%;
    width:20%;
    justify-content: flex-end;
    align-items: center;
}
#streak{
    font-weight: 200;
    display: flex;
    align-items: center;
    font-size: calc(9px + 0.390625vw);
}

.streak img{
    height: 100%;
    width:auto;
}
.button-container{
    width:20%;
}
.empty-today-habits img{
    width: 100%;
    height:90%;
}
/**** button changes *****/
.button-check {
    padding: 0;
    border-radius: 25%;
    background-color: white;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    width:  calc(16px + 8 * ((100vw - 320px) / 960));
    height: calc(16px + 8 * ((100vw - 320px) / 960));
    margin-left: 10px;
}
.button-uncheck {
    padding: 0;
    border-radius: 25%;
    background-image: url("checkbox.png");
    background-size: contain;
    background-position: center;
    background-color: white;
    border: solid 2px black;
    width:  calc(16px + 8 * ((100vw - 320px) / 960));
    height: calc(16px + 8 * ((100vw - 320px) / 960));
    margin-left: 10px;
}

/**** habit changes ****/
.habit-check {

    background: linear-gradient(to right, #565BCC 50%, #e5e7e8 50%);
    background-size: 300% 100%;
    transition: all 0.7s ease-out;
    background-position: right bottom;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.habit-uncheck{
    background:linear-gradient(to right, #565BCC 50%, #e5e7e8 50% );
    background-size: 300% 100%;
    transition: all 0.7s ease-out;
    background-position: left bottom;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.name-uncheck{
    text-decoration: line-through;
    color:white;
}
.name-check{
    text-decoration: none;
}

/************* all habits *********/
.all-habits-wrapper{
    height:100%;
    width:calc(100% - 1rem);
    margin-right: 1rem;
}
.all-habits{
    width: 100%;
    height: 100%;
    border-radius:15px;
    padding:1.2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
}
.all-habits h3{
    font-weight: 800;
    color:black;
}
.habit-list{
    height: 90%;
    width: 100%;
    overflow:scroll;
    padding:1rem 0 0 0;
}

.habit-list a {
    text-decoration: none;
    color:black;
    width:94%;
}
.habit-all{
    display:flex;
    padding: 1rem;
    justify-content: space-between;

}
.habit-all:hover{
    background-color: lightgray !important;
    border-radius: 15px;
    text-decoration: none;
}
.habit-list a:hover {
    text-decoration: none;
    color:black;
}

.icon-name-wrapper{
    display: flex;
    align-items: center;
    gap:.5rem;
}

.name{
    display:flex;
    flex-direction: column;
}
.days{
    display:flex;
    width: 50%;
    align-items: center;
}

.days div{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 0.6rem;
    color: #666666;
    margin-left:0.3rem;
    margin-top: 0.5rem;
}


.days div i{
    font-size: 8px;

}
#dropdownMenuButton-habit{
    border:none;
    background: none;
    color:#191e5b;
}

.habit-all .dropdown-toggle::after {
    display: none !important;
}

@media screen and (min-width: 992px){
    .col-lg-1{
        flex: 0 0 5% !important;
        max-width: 5% !important;
    }
    .col-lg-11{
        width: 95% !important;
    }

}
/* sm size and smaller*/
@media screen and (max-width:  992px){
    .row-content {
        height: 90vh;
    }
    .content-col-second{
        height:90vh;
    }
    .content-col-second{
        height: auto;
        padding: 0 0 1rem 1rem !important;
    }
    .habits-today-wrapper {
        height: auto;
        max-height: 100%;
    }
    .all-habits{
        height: auto;
    }

}


@media screen and (max-width:  992px) and (orientation: portrait){
    .content-col-first{
        height: 50vh;
    }
}
@media screen and (max-width:  768px){
    .row-content {
        height: 90vh;
    }
    .content-col-first{
        height: 90vh;
    }
    .habits-row {
        height: 70%;
        width: 100%;
    }
    .habits-today-wrapper {
        max-height: 100%;
        height: 60%;
    }
    .habits-stats-wrapper {
        width: 100%;
        height: 40%;
    }
    .content-col-second {
        height: 50vh;
    }
    .all-habits {
        height: 100%;
    }

}


@media screen and (max-width: 576.38px){
   .col-first{
       height: 7vh;
   }
    .content-col-first{
        min-height: 7vh;
    }
    .col-second {
        height: 100vh;
    }
    .side-menu-wrapper {
        border-radius: 30px 30px 0 0;
        height: 100%;
        margin:0;
    }
    .menu{
        flex-direction: row;
    }

    .row-content {
        height: 100vh;
        overflow: scroll;
       padding-top: 10vh;
    }

}


@media screen and (max-width: 576px){

    .logout{
        display: none;
    }
    .menu{
        width:100%;
        height: 10vh;
        padding: .3rem 1rem .3rem 1rem;
        justify-content: center;
        align-items: center;
        gap:3rem;
        background-color: #383c5e;

    }

    .menu-option-wrapper{
        color:white;
        font-size: 1.8rem;
    }




}

