@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css");


.navbar {
    height: auto;
    width: 100%;
    position: relative;
    font-family: Poppins,  sans-serif;;
    font-weight: 400;
}
#row-nav{
    padding: 0 2rem 0 1rem;
    height:10vh;

}
#my-ul{
    gap: 1rem;
}

.logo {
    height: 7vh;
    text-align: center;
}
.logo-nav img{
    height: 3rem;
    width: auto;
}

.navbar-light .navbar-toggler {
    color: black;
    border-color: black;
    box-shadow: none;
    padding-right: 1rem !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
    color: black;
}
.navbar-toggler-icon i{
    font-size: 1.5em;
    transition: ease-in-out 0.3s;
    padding-right: 2.5rem;
}
#icon-close{
    color: white;
}
.button{
    background-color: #535AFF;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 0.5rem 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.15s ease-in-out;
    font-weight: 400;
}
.button:hover{
    transform: scale(110%);
}
.button:active{
    transform: scale(110%);
    background-color: whitesmoke;
    color: black;
    border: solid 1px black;
}



/*************** NAV-BAR LEFT ***************/

#about, #how, #user{
    color: black !important;
    transition: 0.15s ease-in-out;
    position: relative; /* makes :after appear under nav-link instead of whole nav */
    margin-right: 1rem;
}

#about:hover{
    color: #4E5AC8 !important;
    cursor: grab;
}
#how:hover{
    color: #4E5AC8 !important;
    cursor: grab;
}
.nav-item{
    font-size: calc(12px + 0.390625vw);
}
.nav-button{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    border: none;
    background: none;
    color: black;
}
.nav-link{
    font-weight: 400;
    font-family: poppins,sans-serif;
}

@media screen and (orientation: portrait){
    .logo {
        height: 5vh;
    }
}

@media screen and (max-width: 576px){
    #my-ul{
        padding: 2rem 0 2rem 2rem;
        gap:1rem;
    }
    #row-nav{
        padding:0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
        background: linear-gradient( #F5F3F0, transparent);
    }
    .p2{
        display:none;
        font-size: calc(14px + 0.390625vw);
        color:black;
    }
    .navbar-expand-sm{
        padding: 1rem 2rem 0 1.5rem !important;
    }
    .dropdown{
        margin-left:50%;
    }
    .navbar-collapse{
        height:100vh;
    }
    #about, #how, #user, #home, #week, #logout{
        color: white !important;
    }
    .nav-col-2{
        background: none;
    }
    p.p1{
        font-size: calc(14px + 0.390625vw) !important;;
        color:white;
    }


}